* {
    margin: 0;
    padding: 0;
  }
  
  :root {
    --label-icon: url("/img/lua.png");
    --trono-img: url("/img/trono-preto.png"); 
  }
  
  .dark-mode {
    --bg-cor: black;
    --fonte-cor: #ffffff;
    --label-icon: url("/img/sol.png");
    --trono-img: url("/img/trono-branco.png");
  }
  
  body {
    background: var(--bg-cor);
    color: var(--fonte-cor);
    font-family: 'Cinzel', serif;
    font-size: 38px;
    user-select: none; 
    transition: 2s;
    user-select: none;
  }
  
  .container {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .mudar-tema {
    position: absolute;
    top: 4%;
    left: 2%;
    background-image: var(--label-icon); 
    background-repeat: no-repeat;
    padding: 67px;
    cursor: pointer; 
  }
  
  #btn {
    display: none;
  }
  
  .trono {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: var(--trono-img);
    background-size: cover;
    width: 450px;
    height: 350px;
    margin-bottom: 100px;
    position: relative;
    top: 10%;
    right: 4%;
  }